@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  /* font-size: 1.2rem; */
  
  min-height: 100vh;
}
.App{
  padding: 0;
  margin: 0;
  height: 100vh;
}
a{
  text-decoration: none;
  color:black;
}
input:focus{
  outline: green;
}
.button{
  border:1px solid silver;
  border-radius: 3px;
  cursor: pointer;
  margin:5px;
  padding:7px 12px 7px 12px;
}
.button:focus{
  outline:none;
}
.button-negative{
  background-color: #af6666;
  color:white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.button-negative:hover{
  background-color: #904f4f;
}

.button-positive{
  background-color:#d5dee8;
  color:black;
}

.button-positive:hover{
  background-color:#bdc4cc;
}
.header{
  height: 64px;
  background-color: #242424;
}
.header-container{
  height: 64px;
  display:flex;
  justify-content: space-between;
  background-color: #242424;
  max-width: 1600px;
    padding: 0 48px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.genderLinks,.userLinks{
  display: flex;
  align-items: center;
  list-style: none;
  margin:0px;
  padding:0px;
}
.genderLinks a,.userLinks li{
  color:white;
  text-decoration:none;
  padding:1rem;
  cursor: pointer;
  position: relative;
}

.genderLinks a:hover{
  color:#adadad;
}

.fav-number{
  position: absolute;
  top: 24px;
}
.userDetails{
  position: absolute;
  top: 60px;
  z-index: 99;
  background: white;
  padding:0px!important;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  border-left: 1px solid silver;
  width: 150px;
  list-style: none;
}

.userDetails li{
  
  color:black!important;
  padding:0px;
  padding-left:10px;
}

.siteLogo{
  color:white;
  font-size: 36px;
  display: flex;
  align-items: center;
}


/* SUB HEADER */

.sub-header
{
  border-bottom:1px solid #f1f1f1;
}
.sub-header-container{
  display: flex;
  padding: 0 100px;
  height: 48px;
  justify-content: space-between;
  max-width: 1600px;
    padding: 0 48px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.sub-header a{
  text-decoration:none;
  color:black;
  padding:0 1rem;
}

.sub-categories{
  display:flex;
  list-style: none;
  padding: 0;
  font-size: 14px;
  margin: 0px;
  align-items: center;
}

.searchBar{
  display: flex;
  align-items: center;
}

.searchBar input{
  border:none;
  border-bottom:2px solid black;
  padding:5px;
  font-size:16px;
  outline: none;
  margin-left: 15px;
}

/*MAIN AREA*/

.main-area-wrapper{
  max-width: 1600px;
    padding: 0 48px;
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
.category-column{
  width: 16%;
  float: left;
  margin-top:15px;
  margin-right: 15px;
  display: flex;
    flex-direction: column;
    align-items: center;
}

.product-area{
  width: 84%;
  float: left;
}
.category-column a{
  color:black;
  text-decoration: none!important;
}
.category-column a:hover{
  text-decoration: underline;
}
.category-column img{
  width:120px;
}

.categories{
  margin-top:20px;
  display: flex;
  flex-direction: column;
}

.category-title{
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.category-title:hover{
  color:#767676;
}
.subcategory-items-list{
  list-style: none;
  padding-left:20px;
  margin-top:5px;
  font-size: medium;
}
.pageTitle{
  margin: 19px 0px;
  font-weight: bold;
  display: flex;
}
.history-breadcrumbs{
  display: flex;
  font-size: 11px;
  letter-spacing: 1px;
  margin-top:15px;
  color: #767676;
}

.history-breadcrumbs a{
  text-decoration: none;
  color: inherit;
  margin: 0px 3px 0px 3px;
}

.filter-boxes{
  display:flex;
  justify-content: space-between;
}

.filter-box{
  width: -webkit-fill-available;
  margin:5px;
  padding:12px 8px 12px 16px;
  border:1px solid black;
  cursor: pointer;
  position: relative;
}

.filter-box-dropdown,.sort-box-dropdown{
  position: absolute;
    top: 50px;
    left: 0px;
    border: 1px solid black;
    width: 100%;
    list-style: none;
    padding:0px;
    margin:0px;
    z-index: 999;
    background: white;
}

.sort-box-dropdown{
  border:1px solid #dedede!important;
  top: 25px;
}
.sort-box{
  cursor: pointer;
  position: relative;
}

.dropdown-colour-sample{
  width: 15px;
  height: 15px;
  border-radius: 4px;
  display: inline-block;
}
.filter-box-dropdown li,.sort-box-dropdown li{
  display: flex;
   justify-content: space-between;
  padding:5px 10px;
}
.filter-box-dropdown li:hover,.userDetails li:hover{
  background-color: #767676;
}
.sort-box-dropdown li:hover{
  background-color:#e8e8e8;
}

.filter-box-top{
  text-align: center;
  border-radius: 5px;
  border:1px solid black;
}

.top-filter-boxes :hover{
  background-color: black;
  color: white;
  display: block;
}

.filter-box-regular{
  border:1px solid silver;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tags{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  margin-bottom: 10px;
}

.tag{
  cursor: pointer;
  border:1px solid #bfbfbf;
  border-radius: 25px;
  margin-right: 20px;
  font-size: 15px;
  padding:8px 14px;
}

.clear-tag{
  background-color: black;
  color:white;
}

.tagTitle{
  margin-right: 15px;
}
.result-counter{
  font-size: 16px;
  color: #767676;
  margin:10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Product area */
.product-display{
  display:flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 200px;
  min-height:403px;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: inherit;
  margin-right: 10px;
}

.image-area{
  height: 320px;
  background-color: #ededed;
  justify-content: center;
  display: flex;
  align-items: center;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
}

.discount-flag{
  position: absolute;
  top:25px;
  left: 0px;
  color: #fd544a;
    padding: 5px 8px 5px 7px;
    /* line-height: 12px;
    font-weight: 700; */
    border-radius: 0 3px 3px 0;
    background: white;
}
.favourite-icon-empty{
  color:silver;
}
.favourite-icon{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.favourite-icon:hover{
  transform: scale(1.2) translateZ(0);
}
.image-area img{
  max-width: 200px;
  max-height: 300px;
  
}
.product-preview__image {
  /* blend:true;
  border:true;
  center:true; */
  mix-blend-mode: multiply;
}
.product-price{
  font-weight: bold;
  font-size:14px;
}
.sale-price{
  color:#fd544a;
}
.old-price{
  margin-left: 7px;
  text-decoration:line-through;
  font-size: 13px;
    font-weight: 500;
}
.product-brand, .product-description{
  font-size:13px;
  overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delivery-info{
  font-family: Helvetica Neue,Helvetica,sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  color: #767676;
    text-transform: uppercase;
    font-size: 10px;
}

.product-caption{
  display: flex;
    flex-direction: column;
}


/* FOOTER AREA*/

footer{
  display: flex;
  flex-direction: column;
  background-color: black;
  color:wheat;
  align-items: center;
}
footer .siteLogo{
  margin:40px 0px 40px 0px;
  color: white;
}

footer .links{
  display: flex;
  list-style: none;
  color: white;
}

.links li{
  padding:1rem;
}

.copyright{
  margin:40px 0px 40px 0px;
  color:darkgrey;
}

.about-us{
  text-transform: uppercase;
}


.modal-window{
  padding: 20px;
    position: absolute;
    top: 34%;
    left: 44%;
    background: silver;
    z-index: 99;
    border:1px solid silver;
  border-radius: 5px;
}

.login-form{
  display: flex;
  flex-direction: column;
  line-height: 2rem;
}

.login-form input{
  padding:10px;
}
.login-form label{
  display: flex;
    flex-direction: column;
    margin: 7px;
}

.login-form span{
  font-size: 10px;
}
.modal-wrapper{    width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 99;
  /* content: " "; */
  position: absolute;
}

.modal-close{
  position: absolute;
    top: -2px;
    right: -1px;
    width: 36px;
    text-align: center;
    background: #989393;
    border-top-right-radius: 5px;
    cursor: pointer;
}

.prompt-wrapper{
  position: absolute;
  left: 50%;
  width:30%;
  padding: 10px;
  background: #79e07966;
  transform: translateX(-50%);
}

.orders-wrapper
{
  width: 100%;
}
.orders-wrapper > li{
  list-style: none;
  border-top:1px dotted silver;
  margin-bottom: 20px;
  padding:10px
}

.top-info-panel
{
  display: flex;
  justify-content: space-between;
  border: 1px solid silver;
    padding: 10px;
    border-radius: 5px;
}
.top-info-panel h1,
.top-info-panel h2,
.top-info-panel h3,
.top-info-panel h4
{
  margin:0px
}
.order-address-wrapper
{
  display: flex;
  justify-content: flex-start;
}
.order-address{
  margin-left: 20px;
}
.order-items-list
{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.cart-summary
{
  display: flow-root;
}
.cart-summary ul{
  float: right;
}
.cart-summary-total{
  font-weight: bold;
}
.cart-summary span{
  font-size:20px;
}
.cart-wrapper{
  width: 80%;
}
.cart-wrapper ul,.order-wrapper ul{
  /* border-top:1px solid silver; */
  list-style: none;
  padding-left: 0px;
}

.cart-item-desc{
  padding-left:20px;
}
.cart-item{
  display: flex;
  flex-direction: row;
    justify-content: space-between;
}
.cart-item-img img{
  width: 125px;
  margin:4px;
}

.cart-item-qty input{
  width: 50px;
  padding:20px 0px 20px 0px;
  text-align: center;
  border:1px solid silver;
  border-radius: 4px;
  margin-right:6px;
}

.cart-item-info{
  display:flex;
}
.cart-item-price-qty{
  display:flex;
  align-items:center;
  position:relative;
}
.cart-item-action{
  position: absolute;
  top:0px;
  right:0px;
}

.cart-item-action span{
  margin-left:10px;
  font-size: 11px;
}
.cart-item-action span:hover{
  cursor: pointer;
}
.customer-info-wrapper{
  margin-bottom: 40px;
}

.customer-address-wrap{
  display: flex;
  flex-direction: row;
}

.customer-address-wrap >div{
  margin-right: 40px;
  position: relative;
}

.customer-address-wrap >.selected {
  border: 1px solid silver;
}

.address-display
{
  padding:10px;
  cursor: pointer;
}

.address-actions{
  display: flex;
  flex-direction: row;
  /* position: absolute; */
  top:5px;
  right:5px;
  justify-content: flex-end;
}
.address-actions >div{
  margin-left:12px;
  cursor: pointer;
  color:silver;
}
.address-actions >div:hover{
  color:black;
}
.customer-info{
  display: flex;
  flex-direction: column;
}

.customer-info label, .address-edit label{
  margin: 15px 0px 15px 0px;
}

.customer-info input, .address-edit input{
  display: block;
}

form input{
  padding: 7px;
  font-size: 16px;
  border: 1px solid silver;
}

.page-navigation-wrapper{
  position: relative;
  list-style: none;
  display: flex;
  align-items: center;
}

.page-navigation-wrapper li{
  margin-left:5px;
  cursor: pointer;
}

.page-navigation-step{
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.pagination-container{
  justify-content: center;
  display: flex;
  flex-wrap: nowrap;
}

.currentPage{
  font-size:20px;
  font-weight: bold;
}

.disabled{
  border:1px solid silver ;
  color: silver;
  cursor: initial!important;
}

.image-preview-wrapper{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.image-preview-item{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 19%;
  min-width: 200px;
  min-height: 403px;
  margin-bottom: 20px;
  color: inherit;
  text-decoration: inherit;
}

.image-preview-main{
  max-width:100%;
  max-height:100%
}

.sale-link{
  color: red!important;
  font-weight: bold;
}

.logo-spacer{
  height: 120px;
  display: flex;
  align-items: center;
}